:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Chivo", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

/* title transitions */

.section-center {
  margin: 0;
  width: 80vw;
  /* has to have a height */
  height: 20%;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  width: 100%;
  height: 100%;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
  animation: fadeIn 3.8s;
}

.lastSlide {
  transform: translateY(100%);
  display: none;
}
.nextSlide {
  transform: translateY(-100%);
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/* project cards */

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 450px;
  height: 250px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #3282d4, #614add, #53195f);
}

.card img {
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  height: 200px;
  border-radius: 5px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.card:hover img {
  left: 80%;
}

/* @media (max-width: 480px) {
  .card:hover img {
    left: 0%;
  }
} */

.card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.card:hover .content {
  opacity: 1;
  visibility: visible;
  left: 0%;
}

.card .content h2 {
  color: #fff;
  font-size: 2.5em;
  line-height: 1em;
}

.card .content p {
  color: #fff;
}
.card .content a {
  display: inline-block;
  position: relative;
  color: #111;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  margin-top: 10px;
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: #53195f;
  transition: all 0.2s;
}

@media (max-width: 991px) {
  .card {
    position: relative;
    align-items: center;
    width: 400px;
    transition: 0.5s;
    /* max-width: 600px; */
  }

  .card:hover {
    height: 600px;
  }

  .card:hover img {
    left: 10%;
    width: auto;
    height: 350px;
    transform: translateY(-30%);
  }

  .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
    transform: translateY(100%);
  }
}

@media (max-width: 420px) {
  .card .content {
    padding: 30px;
  }

  .card:hover {
    height: 200px;
    /* width: 70%; */
  }
}

/* sidebar */

.sidebar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.15s linear;
  cursor: pointer;
  color: #fff;
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: red;
}
.logo {
  justify-self: center;
  height: 40px;
}

ul {
  list-style-type: none;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: #fff;
  transition: all 0.25s linear;
  letter-spacing: var(--spacing);
}

.links a:hover {
  background: #53195f;
  color: var(--clr-grey-2);
  cursor: pointer;
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #fff;
  transition: all 0.25s linear;
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #53195f;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: all 0.25s linear;
  transform: translate(100%);
}
.show-sidebar {
  transform: translate(0);
  visibility: visible;
  z-index: 10;
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
